<html>

<head>
    <title>Homepage</title>
    <meta charset="utf-8"> 
</head>  

<h1>TripScout</h1>

<body>
    
<h2>NORTH AMERICA</h2>
    
<div><h3>Canada</h3>
</a></div>

<div><h3><a href="/9">
    United States</h3>
</a></div>

<div><h3><a href="/mexico">
    Mexico</h3>
</a></div>

<h2>SOUTH AMERICA</h2>

<h2>EUROPE</h2>

<h2>AFRICA</h2>

<h2>AUSTRALIA</h2>

<h2>MIDDLE EAST</h2>

<h2><a href="/2">ASIA</h2>

<h2>AFRICA</h2>

</html>